# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Django local database
db.sqlite3

# Local test outputs & logs
debug_segmented.jpg
*.log

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
