{
    "checkpoint_type": "final_svm_classifier",
    "model": "ViT-Tiny fine-tuned extractor + SVM classifier",
    "classifier": "SVC",
    "classifier_model_path": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/final_svm_classifier_vittiny_svm.pkl",
    "vit_extractor_state_dict_path": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm_state_dict.pth",
    "vit_extractor_checkpoint_path": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm_checkpoint.pt",
    "vit_extractor_config_path": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm.config",
    "best_svm_params": {
        "C": 1.5304519663843552,
        "kernel": "rbf",
        "gamma": "scale",
        "degree": 4,
        "coef0": 0.004023467464986885,
        "class_weight": "balanced",
        "probability": true,
        "random_state": 42,
        "decision_function_shape": "ovr",
        "cache_size": 1024
    },
    "num_classes": 4,
    "class_names": [
        "DañoLigero",
        "DañoModerado",
        "DañoSevero",
        "Sana"
    ],
    "img_size": 224,
    "feature_dim": 192,
    "hpo_metrics": {
        "accuracy": 0.7586206896551724,
        "precision_macro": 0.7302083333333333,
        "recall_macro": 0.7236721611721612,
        "f1_macro": 0.7198275862068966,
        "auc_roc_macro": 0.9059146771103292
    },
    "timestamp": "2026-05-27 23:34:51"
}