{
    "model": "ViT-Tiny fine-tuned extractor + SVM classifier",
    "extractor": "ViT-Tiny",
    "classifier": "SVC",
    "vit_model": "vit_tiny_patch16_224.augreg_in21k",
    "img_size": 224,
    "batch_size": 32,
    "num_classes": 4,
    "class_names": [
        "DañoLigero",
        "DañoModerado",
        "DañoSevero",
        "Sana"
    ],
    "best_params": {
        "C": 1.5304519663843552,
        "kernel": "rbf",
        "gamma": "scale",
        "degree": 4,
        "coef0": 0.004023467464986885,
        "class_weight": "balanced"
    },
    "best_svm_params": {
        "C": 1.5304519663843552,
        "kernel": "rbf",
        "gamma": "scale",
        "degree": 4,
        "coef0": 0.004023467464986885,
        "class_weight": "balanced",
        "probability": true,
        "random_state": 42,
        "decision_function_shape": "ovr",
        "cache_size": 1024
    },
    "vit_finetuning": {
        "epochs": 8,
        "learning_rate": 1e-05,
        "weight_decay": 0.0001,
        "trainable_last_blocks": 2
    },
    "hpo": {
        "n_trials": 20,
        "validation_split": "hpo"
    },
    "cross_validation": {
        "k_folds": 10,
        "training_type": "direct_classifier_on_extracted_features"
    },
    "saved_files": {
        "vit_extractor_state_dict_pth": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm_state_dict.pth",
        "vit_extractor_checkpoint_pt": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm_checkpoint.pt",
        "vit_extractor_config": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm.config",
        "final_svm_classifier_pkl": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/final_svm_classifier_vittiny_svm.pkl",
        "final_svm_classifier_config": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/final_svm_classifier_vittiny_svm.config",
        "best_params_json": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/metricas/best_params_optuna_vittiny_svm.json",
        "cv_results_csv": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/metricas/cv_10fold_results_vittiny_svm.csv"
    }
}