{
    "checkpoint_type": "vit_tiny_extractor_finetuned",
    "vit_model": "vit_tiny_patch16_224.augreg_in21k",
    "state_dict_path": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm_state_dict.pth",
    "checkpoint_path": "/content/drive/MyDrive/Tesis_Frank/Results_ViTTiny_SVM/modelos/vit_tiny_extractor_finetuned_vittiny_svm_checkpoint.pt",
    "num_classes": 4,
    "class_names": [
        "DañoLigero",
        "DañoModerado",
        "DañoSevero",
        "Sana"
    ],
    "img_size": 224,
    "vit_trainable_last_blocks": 2,
    "metrics": {
        "train_loss": 1.3988429433421086,
        "train_accuracy": 0.24561403508771928,
        "fine_tuning_loss": 1.3839640617370605,
        "fine_tuning_accuracy": 0.3684210526315789,
        "fine_tuning_precision_macro": 0.25462962962962965,
        "fine_tuning_recall_macro": 0.28846153846153844,
        "fine_tuning_f1_macro": 0.19263698630136986,
        "fine_tuning_auc_roc_macro": 0.43612944201586856
    }
}